html {
	font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
	color: #404040;
}

h2 {
	display: flex;
	justify-content: center;
	align-content: center;
}

textarea {
	resize: vertical;
	height: 250px;
	width: 450px;
	margin: 10px;
	font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
	color: #404040;
}

button {
	border-color: #cc9900;
	background-color: #d9d9d9;
	border-radius: 5px;
}

body {
	margin-bottom: 100px;
	clear: both;
}

.TextImage {
	height: 20px;
	width: 20px;
}

.NamedLink {
	text-decoration: none;
	color: inherit; /* makes not change color on click */
}

.EntryBox {
	border: 2px solid;
	border-radius: 5px;
	border-color: #cc9900;
	background-color: #ffe699;
	height: 20px;
}

.Box {
	border: 2px solid;
	border-radius: 5px;
	border-color: #cc9900;
}

.Link {
	font-size: 12px;
	text-decoration: none;
	color: #cc9900;
	outline-color: #664d00;
}