#Title {
    display: flex;
    justify-content: center;
    align-content: center;
}

#Path {
    display: flex;
    justify-content: left;
    align-content: center;
}

.UpTitle {
    display: flex;
    font-size: 100px;
    text-decoration: none;
}
.upTitleIcons {
    display: flex;
    align-content: center;
    height: 75px;
}