#Title {
	display: flex;
	justify-content: center;
	align-content: center;
}

#Logo {
	height: 105px;
	width: 105px;
	/* align-content: center; */
	vertical-align: middle;
}

#Path {
	display: flex;
	justify-content: left;
	align-content: center;
}

.UpTitle {
	display: flex;
	font-size: 100px;
	text-decoration: none;
}
.upTitleIcons {
	display: flex;
	align-content: center;
	height: 75px;
}